// <!-- THIS IS CODED BY: JEFFREY TUASON -->

// ************** VARIABLE STYLE ************** 
$white: #fff;
$almost-White: hsl(0, 0%, 98%);
$medium-Gray: hsl(0, 0%, 41%);
$almost-Black: hsl(0, 0%, 8%);

// ************** GLOBAL STYLE ************** 
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}

body {
    background-color: $almost-White;
}

picture {
    & > * {
        max-width: 100%;
    }
}

.btn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

// ************** OVERLAY STYLE ************** 
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #22222267;
    z-index: 100;
    
    display: none;
}

.show-overlay {
    display: block;
}

// ************** LOGO STYLE ************** 

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 90%;
    margin: 0 auto;
    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button img{
        width: 1rem;
    }
}

// ************** NAVBAR STYLE ************** 
.navbar {
    z-index: 101;
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 450px;
    height: 100%;
    max-height: 100vh;
    background-color: $white;
    transition: all 0.4s ease;
    &__container {
        width: 90%;
        margin: 0 auto;
    }
    &__links {
        display: flex;
        align-items: center;
        text-decoration: none;

        font-size: .875rem;
        color: $medium-Gray;
        cursor: pointer;
        padding: .5em 1em;
        transition: all 0.2s ease;
        & img {
            width: 1rem;
            margin-right: .5rem;
        }
        &:hover {
            color: $almost-Black;
        }
    }
}

.show-navbar {
    right: 0;
}

// ************** NAVBAR HEADER STYLE ************** 
.navbar__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25rem .25rem;
}

.navbar__button img {
    width: 1rem;
}

// ************** NAVBAR DROPDOWN STYLE ************** 
.dropdown {
    &__button {
        padding: .5em 1em;
        color: $medium-Gray;
        &:hover {
            color: $almost-Black;
        }
    }
    &__chevron {
        width: 1rem;
        margin-left: .25rem;
        &:last-child {
            display: none;
        }
    }
    & ul {
        list-style: none;
        margin-left: 1rem;
    }
    &__container {
        transition: all 0.4s ease;
        height: 0;
        overflow: hidden;
    }
}

.show-dropdown .dropdown__button {
    color: $almost-Black;
}

// ************** NAVBAR MENU STYLE ************** 
.menu__list {
    list-style: none;
}

// ************** NAVBAR ACCOUNTS STYLE ************** 
.accounts {
    list-style: none;
    text-align: center;
    margin-top: 2rem;
    &__links{
        display: block;
        border-radius: .5rem;
    }
    & li:last-child a {
        border: 2px solid $medium-Gray;
        &:hover {
            border-color: $almost-Black;
        }
    }
}

@media (min-width: 900px) {
    // ************** OVERLAY STYLE ************** 
    .overlay {
        display: none;
    }

    // ************** HEADER STYLE ************** 
    .header__container {
        width: 90%;
        margin: 0 auto;
        position: relative;
        display: flex;
        align-items: center;
    }
    
    // ************** LOGO STYLE ************** 
    .logo {
        width: auto;
        margin: 0;
        padding: 2rem 0;
        &__image {
            margin-right: 4rem;
        }
        &__button {
            display: none;
        }
    }
    
    // ************** NAVBAR STYLE ************** 
    .navbar {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        background-color: transparent;
        &__container {
            width: 100%;
            max-width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__header {
            display: none;
        }
        &__links {
            font-size: 1rem;
            padding: .3em 1 em;
            white-space: nowrap;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        &__list {
            display: flex;
            align-items: center;
            & li {
                margin: 0 .5rem;
            }
        }
    }

    // ************** DROPDOWN STYLE ************** 
    .dropdown {
        position: relative;
        margin: .5em 1em;
        &__container {
            position: absolute;
            top: calc(100% + 1.5rem);
            box-shadow: 0 0 5px rgba(34, 34, 34, 0.3);
            background-color: $white;
            border-radius: .5rem;
            & ul {
                margin: 0;
                padding: 1rem;
            }
        }
        &__features {
            right: 0;
        }
        &__company {
            left: 0;
        }
        &__button {
            display: flex;
            align-items: center;
            font-size: 1rem;
            padding: 0;
        }
    }

    // ************** ACCOUNTS STYLE ************** 
    .accounts {
        margin: 0;
        display: flex;
        align-items: center;
    }
}

// ************** MAIN STYLE ************** 
.article {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    &__header {
        font-size: 2rem;
    }
    &__text {
        margin: 1rem 0;
        line-height: 1.5;
        font-size: 1rem;
        color: $medium-Gray;
    }
    &__button {
        cursor: pointer;
        padding: 1em 1.5em;
        background-color: $almost-Black;
        border: none;
        outline: none;
        color: $almost-White;
        border-radius: .5rem;
        transition: all .4s ease;
    }
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    margin-top: 5rem;
    max-width: 450px;
    margin: 0 auto;
    &__image {
        width: 4.5rem;
        padding: .5rem .25rem;
    }
}

@media (min-width: 900px) {
    // ************** MAIN STYLE ************** 
    .main {
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
        margin: 0 auto;
    }

    // ************** ARTICLE STYLE ************** 
    .article {
        text-align: left;
        &__header {
            font-size: 5rem;
            margin-top: 7rem;
            & span {
                display: block;
            }
        }
        &__text {
            margin: 3rem 0;
            font-size: 1rem;
            max-width: 400px;
        }
    }

    .brands {
        padding-top: 4rem;
        max-width: 100%;
        justify-content: flex-start;
        &__image {
            width: 5rem;
            padding: .5rem .25rem;
            margin: 0 1rem;
        }
    }
}