// ************** VARIABLE STYLE ************** 
$white: #fff;
$almost-White: hsl(0, 0%, 98%);
$medium-Gray: hsl(0, 0%, 41%);
$almost-Black: hsl(0, 0%, 8%);

// ************** GLOBAL STYLE ************** 
*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Epilogue', sans-serif;
}
/* 
body {
    background-color: $almost-White;
} */

picture {
    & > * {
        max-width: 100%;
    }
}

// ************** HEADER STYLE ************** 
.header {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    &__container {
        display: block;
        width: 100%;
    }
}

// ************** LOGO STYLE ************** 
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    margin: 0 auto;
    & a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        max-width: 4rem;
    }
    &__button {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        & img {
            max-width: 1rem;
        }
    }
}

// ************** NAVBAR STYLE ************** 
.navbar {
    display: none;
    &__links {
        text-decoration: none;
        color: $medium-Gray;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease;
        display: block;

        padding: .5em 1em;
        border-radius: .5rem;
        &:hover {
            color: $almost-Black;
        }
    }
}

// ************** DROPDOWN STYLE ************** 
.dropdown {
    position: relative;
    &__container {
        position: absolute;
        top: calc(100% + 1rem);
        transition: all 0.4s ease;
        padding: 1rem;
        overflow: hidden;
        background-color: $white;
        border-radius: .5rem;
        box-shadow: 0 0 1rem rgba(34, 34, 34, 0.2);

        // hide dropdown item
        height: 0;
        padding: 0;
    }
    &__button {
        display: flex;
        align-items: center;
    }
    &__arrow {
        margin-left: .4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__arrow:last-child {
        display: none;
    }
    & ul {
        list-style: none;


        padding: 1rem;
        border-radius: 3px;

    }
    & ul img {
        width: 1rem;
        margin-right: .5rem;
    }
    & a {
        display: flex;
        align-items: center;
        padding: .5rem;
        white-space: nowrap;
    }
    &__features {
        right: 0;
    }
    &__company {
        left: 0;
    }
}

// show dropdown item
.show-list {
    & .dropdown {
        &__arrow:first-child {
            display: none !important;
        }
        &__arrow:last-child {
            display: flex !important;
        }
    }
}

// ************** ACCOUNT STYLE ************** 
.account {
    margin-left: auto;
    display: flex;
    align-items: center;
    &__register {
        border: 2px solid $medium-Gray;
        &:hover {
            border-color: $almost-Black;
        }
    }
}

@media (min-width: 768px) {

    // ************** HEADER STYLE ************** 
    .header__container {
        display: flex;
        align-items: center;

        padding: .5rem 0;
        width: 90%;
        margin: 0 auto;
    }

    // ************** LOGO STYLE ************** 
    .logo {
        width: auto;
        margin: 0;
        &__image {
            max-width: 100%;
        }
        &__button {
            display: none;
        }
    }

    // ************** NAVBAR STYLE ************** 
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__wrapper {
            display: flex;
            align-items: center;
            padding-left: 2rem;
        }
    }

}

// ************** ASIDE STYLE ************** 
.aside {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    background-color: rgba(34, 34, 34, 0.5);
    width: 100%;
    min-height: 100vh;
    transition: all 0.4s ease;
    z-index: 999;
    &__container {
        width: 70%;
        max-width: 450px;
        min-height: 100vh;
        background-color: $white;
        margin-left: auto;
        padding: 1rem;
    }
    &__header {
        padding-bottom: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__button img {
        max-width: 1rem;
    }
    &-dropdown__container {
        // hide dropdown
        height: 0;
        overflow: hidden;
    }
    &-dropdown__list {
        list-style: none;
        margin-left: 1rem;
        & a {
            display: flex;
            align-items: center;
        }
        & img {
            width: 1rem;
            height: 1rem;
            margin-right: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
    &-dropdown__button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-dropdown__arrow {
        display: flex;
        align-items: center;
        margin-left: .5rem;
    }
    &-dropdown__arrow:last-child {
        display: none;
    }
}

.show-aside-dropdown {
    & .aside-dropdown__arrow:last-child {
        display: flex;
    }
    & .aside-dropdown__arrow:first-child {
        display: none;
    }
}

.aside-account {
    text-align: center;
    margin-top: 1rem;
    &__register {
        border: 2px solid $medium-Gray;
        &:hover {
            border-color: $almost-Black;
        }
    }
}

.slide-aside {
    transform: translateX(0);
}

@media (min-width: 768px) {
    .aside {
        display: none;
    }
}

// ************** MAIN STYLE ************** 
.article {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0;
    &__header {
        font-size: 2rem;
    }
    &__text {
        margin: 1rem 0;
        line-height: 1.5;
        font-size: 1rem;
        color: $medium-Gray;
    }
    &__button {
        cursor: pointer;
        padding: 1em 1.5em;
        background-color: $almost-Black;
        border: none;
        outline: none;
        color: $almost-White;
        border-radius: .5rem;
    }
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    max-width: 450px;
    margin: 0 auto;
    &__image {
        width: 4.5rem;
        padding: .5rem .25rem;
    }
}

@media (min-width: 768px) {

    .main {
        display: flex;
        flex-direction: row-reverse;

        // gap: 7rem;

        width: 80%;
        margin: 0 auto;
    }

    .article {
        text-align: left;
        &__header {
            font-size: 5rem;
            margin-top: 7rem;
            & span {
                display: block;
            }
        }
        &__text {
            margin: 3rem 0;
            font-size: 1rem;
            max-width: 400px;
        }
    }

    .brands {
        padding-top: 4rem;
        max-width: 100%;
        justify-content: flex-start;
        &__image {
            width: 5rem;
            padding: .5rem .25rem;
        }
    }

    .brands__image + .brands__image {
        margin-left: 2rem;
    }

}